.TopMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: gray;
    color: #333;
}

.MenuItem {
    display: flex;
    width: 80px;
}

.Link {
    color: black;
    text-decoration: none;
}